/*
COLOR PALETTE
#B03325
#3E6193
#F0F0F1
#474750
#FFFFFF
#060F18
*/




/* GLOBAL STYLES
----------------------------------------*/
/*
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background: #F0F0F1;
    margin: 0;
    font-family: "Open Sans", sans-serif;  
    font-size: 1.5rem;
    line-height: 1.4;
}

h1, h2, h3 {
    font-size: 7rem;
    line-height: 0.85;
}

h1 {             
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 3.6rem;
    margin: 0;    
    padding: 0;
}

h3 {
    font-size: 2.4rem;
    margin: 0;
}

.image-container {
    background: url(../images/conny-schneider-pREq0ns_p_E-unsplash.jpg) center;
    background-size: cover;
    content: "";
    height: 420px;
    position: relative;
}

.overlay-text h1 {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 60px;
    color: #B03325;
    font-size: 100px;
    text-align: left;
}

.overlay-text p {
    margin: auto;
    padding-left: 60px;
    padding-bottom: 60px;    
    font-size: 90px;
    line-height: .75;
    font-weight: bold;
    text-align: left;
    color: #F0F0F1;
}

.overlay-text h2 {
    color: #B03325;
    font-size: 60px;
    text-align: left;
    padding-top: 330px;
    padding-left: 60px;
}


/* LINKS
----------------------*/

a {
    position: relative;
    color: #F0F0F1;
    text-decoration: none;
  }

a:hover {
    color: #060F18;
    text-decoration: none;
  }


/* BUTTONS
----------------------*/
.home-page .btn {
    display: block;
    padding: 8px;
    border-radius: 10px;
    width: 145px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;    
    background: #B03325;
    color: #f5fbef;

}

.contact-page .formbtn {
    display: block;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    width: 30%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #B03325;
    color: #f5fbef;

}




/* HOME
----------------------------------------*/
.home-page {
    background-color: #F0F0F1;
}

.reviews {
    margin: 0 auto;
    padding: 30px;
    max-width: 1600px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #474750;
}

.navbar img {
    margin-bottom: 5px;
    margin-left: 30px;
}

.navbar-items {
    display: flex;
    list-style-type: none;
}

.navbar-items li a {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 24px;
    font-weight: bold;
} 

.navbar-items .active {
    text-decoration: underline;
    color:#B03325;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.home-page {
    background-color: #F0F0F1;
    color:#060F18
}

.home-page .about {
    max-width: 2000px;    
    margin: 0 auto;
    padding: 30px;
}
.home-page .about h2 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.home-page .row {
    display: inline-flex;
    padding: 30px;
}

.home-page .column {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.home-page p {    
    margin: 0;
    padding-bottom: 20px;
}

.home-page #title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 3.6rem;
}    

.home-page .btn {
    margin-top: 20px;
}

.services {    
    text-align: center;    
    padding: 30px;
    background-color: #3E6193;
    color:#F0F0F1;
}

.services h2 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.services p {
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.services .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    padding-top: 30px;
}

.services .row .column {
    display: inline-flex;
    flex-direction: column;
}

.services .row .column b {
    flex-direction: column;
    font-size: 18px;
    margin-top: 20px;
}

.services .row .column img {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 280px;
    height: 180px;
}

.home-page .products {
    max-width: 2000px;    
    margin: 0 auto;
    padding: 30px;
}

.home-page .products h2 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.home-page .products p {
    margin: 0;
    padding-bottom: 20px;
}

.home-page .products .row {
    display: inline-flex;
    padding: 30px;
}

.home-page .products .column {
    justify-content: center;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.home-page .products #title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 3.6rem;
}

.home-page .products p {    
    margin: 0;
    padding-bottom: 20px;
}

.home-page .products img {
    width: 600px;
    height: 400px;
}

.reviews {
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: #060F18;
}

 .reviews h2 { 
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
 }

.reviews .row {
    width: 1200px;
    display: inline-flex;
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    content-visibility: visible;
    overflow-x: scroll;
}

.reviews .row .column {
    display: inline-flex;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;    
    border-radius: 20px;
    width: 500px;
    height: 150px;
}

.reviews .row .column .column {
    width: 350px;
    height: 130px;
    text-align: left;
    color: #060F18;
}

.reviews .row .column img {
    padding-right: 10px;
    width: 100%;
    height: 100%;
}


/* ABOUT
----------------------------------------*/
.about-page {
    margin: 0 auto;
    padding: 30px;
    max-width: 2000px;
}

.about-page .row {
    display: inline-flex;
    padding: 30px;
}

.about-page .column {
    padding-right: 30px;
    padding-left: 30px;
}

.about-page .column img {
    width: 750px;
}


/* SERVICES
----------------------------------------*/
.services-info {
    display: block;
    text-align: center;
    background-color: #3E6193;
    background-size: cover;
    color: #F0F0F1;
}

.services-info p {
    margin: 0;
    padding: 60px;
    text-align: center;
}

.services-page {
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 2000px;
}

.services-item {
    display: flow-root; 
    margin: 30px;
}

.services-item img {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 400px;
    height: 300px;
    float: left;
}

.services-item h3 {    
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: left;
}

.services-item p {
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;
}



/* CONTACT
----------------------------------------*/
.contact-page {
    display: flex;
    margin: 0 auto;
    padding: 60px;
    max-width: 2000px;
}

.contact-page .row {
    display: inline-flex;
    padding-right: 30px;
    padding-left: 30px;
}

.contact-page p {
    display: flex;
    padding-right: 80px;
    padding-bottom: 10px;
    width: 100%;
}

.contact-page .contact-icon {
    float: left;
    margin-right: 20px;
    
}

.contact-page .contact-icon .text-container {
    margin-left: 20px;
}

.contact-page form {
    padding-bottom: 15px;
}

.contact-page form input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    outline: 1pt solid #060F18;
}

.contact-page form textarea {
    margin-top: 10px;
    margin-bottom: 10px;    
    padding: 10px;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    color: #585858;
    outline: 1px solid #060F18;
}


/* FOOTER
----------------------------------------*/
footer {
    display: inline-flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    width: 100%;
    background: #474750;
    color: #F0F0F1;
}

footer a {
    color: #F0F0F1;

}

footer a:hover {
    color: #060F18;
}

footer li {
    list-style: none;
}

.copyright {
    padding-top: 10px;
    font-size: 14px;
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-info {
    padding: 15px;
    text-align: left;
    width: 300px;    
    margin-left: 20px;
}

.footer-info h4 {
    margin-top: 5px;
}

.quicklinks {
    padding-left: 60px;
}

.quicklinks li {
    padding-top: 10px;
    list-style: none;
    width: 100%;
}

.quicklinks ul {
    margin: 0;
    padding: 0;
}

.contactus {
    padding-left: 60px;
}

.contactus li {
    padding-top: 10px;
}

.contactus ul {
    margin: 0;
    padding: 0;
}

.contactus socials img {
    width: 32px;
}

.contactus socials img:hover {
    opacity: 0.5;
}

.socials li {
    display: inline-block;
    margin-right: 10px;
}

.socials img {
    width: 32px;
    padding-top: 20px;
}

.socials img:hover {
    opacity: 0.5;
}